<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket>
<body>
   <wicket:panel>

       <a wicket:id="first" class="firstbutton">
           <img wicket:id="home" src="images/home.png" alt="|&lt;" class="navigatorimg"/>
       </a>&nbsp;<a wicket:id="prev" class="prevbutton">
         <img wicket:id="back" src="images/backward.png" alt="&lt;" class="navigatorimg"/>
       </a>&nbsp;<span wicket:id="navigation">
           <a wicket:id="pageLink" href="#"><span wicket:id="pageNumber">10</span></a>
       </span>&nbsp;<a wicket:id="next" class="nextbutton">
           <img wicket:id="forward" src="images/forward.png" alt="&gt;" class="navigatorimg"/>
       </a>&nbsp;<a wicket:id="last" class="lastbutton">
           <img wicket:id="end" src="images/end.png" alt="&gt;|" class="navigatorimg"/>
       </a>

   </wicket:panel>
</body>
</html>
