body {
    color: #014;
    font-size: 12pt;
}

h1 {
    margin-top: 0px;
}

p label {
    width: 200px;
    font-weight: bold;
    float: left;
}

table.outerCont {
    width: 80%;
    margin: auto;
    min-height: 500px;
    padding: 0px;
}

table.outerCont td {
    
}

table.outerCont td.headCont {
    text-align: center;
    height: 100px;
}

table.outerCont td.footCont {
    text-align: center;
}

table.outerCont td.rightCont {
    width: 5%;
    min-width: 80px;
    vertical-align: top;
}

table.outerCont td.leftCont {
    width: 15%;
    min-width: 200px;
    vertical-align: top;
    border: 1px solid #abd;
    background: #ddf;
}

table.outerCont td.pageCont {
    width: 70%;
    min-width: 600px;
    vertical-align: top;
}

table.outerCont td.pageCont h1 {
    text-align: center;
}

div.formContainer {
    padding-bottom: 10px;
    background:#f6f6f6;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #abd;
    padding-left: 20px;
    padding-right: 20px;
}

table.dataview {
    border-collapse: collapse;
    border: 1px solid #aba9a5;
    width: 100%;
}

table.dataview tr th,
table.dataview tr td
{
    text-align: left;
}

table.dataview th,
table.dataview th a  {
    background: #AABBDD;
    color: #fff;
    padding: 1px 5px 2px 5px;
    text-decoration: none;
}

table.dataview td.filter-td  {
    background: #f8f8f8;
}

table.dataview td  {
    padding: 5px;
    margin: 0;
    font-size: 10pt;
}

table.dataview tr.even {
    background: #e1e3cc;
}

table.dataview tr.odd {
}

label {
    width: 200px;
    clear: left;
    font-weight: bold;
}

.progressLabel {
    padding-left: 40px;
    height: 32px;
    background: url('img/progress_bar.gif') no-repeat top left;
    text-align: left;
    vertical-align: middle;
}

.processResult {
    border: 1px solid #888;
    margin: 5px;
    padding: 5px;
    font-family: monospace;
    height: 400px;
    overflow: auto;
}
div.command {
    font-size: 8pt;
    margin-top: 10px;
}

table.unselected table.icon-panel a {
    color: #BBBBBB !important;
}